<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Real-Debrid">
        <setting id="rd_enabled" type="bool" label="Enable Real-Debrid" default="true"/>
        <setting id="rd_authorize" type="action" label="Authorize Real-Debrid" action="RunPlugin(plugin://plugin.video.orion/?action=pair_rd)"/>
        <setting id="rd_status" type="lsep" label="Status: Not Authorized"/>
        <setting id="rd_token" type="text" label="Access Token (auto-filled)" default="" enable="false"/>
        <setting id="rd_refresh" type="text" label="Refresh Token" default="" visible="false" enable="true"/>
        <setting id="rd_client_id" type="text" label="Client ID" default="" visible="false" enable="true"/>
        <setting id="rd_client_secret" type="text" label="Client Secret" default="" visible="false" enable="true"/>
    </category>
    <category label="Premiumize">
        <setting id="pm_enabled" type="bool" label="Enable Premiumize" default="false"/>
        <setting id="pm_authorize" type="action" label="Authorize Premiumize" action="RunPlugin(plugin://plugin.video.orion/?action=pair_pm)"/>
        <setting id="pm_token" type="text" label="API Key" default="" enable="true"/>
    </category>
    <category label="AllDebrid">
        <setting id="ad_enabled" type="bool" label="Enable AllDebrid" default="false"/>
        <setting id="ad_authorize" type="action" label="Authorize AllDebrid" action="RunPlugin(plugin://plugin.video.orion/?action=pair_ad)"/>
        <setting id="ad_token" type="text" label="API Key" default="" visible="false" enable="true"/>
    </category>
    <category label="Trakt">
        <setting id="trakt_enabled" type="bool" label="Enable Trakt" default="false"/>
        <setting id="trakt_authorize" type="action" label="Authorize Trakt" action="RunPlugin(plugin://plugin.video.orion/?action=pair_trakt)"/>
        <setting id="trakt_token" type="text" label="Token" default="" visible="false" enable="true"/>
        <setting id="trakt_refresh" type="text" label="Refresh" default="" visible="false" enable="true"/>
    </category>
    <category label="Playback">
        <setting id="preferred_quality" type="labelenum" label="Preferred Quality" values="4K|1080p|720p|SD" default="0"/>
        <setting id="auto_play" type="bool" label="Auto-play best quality" default="true"/>
        <setting id="debrid_priority" type="labelenum" label="Debrid Priority" values="Real-Debrid|Premiumize|AllDebrid" default="0"/>
    </category>
    <category label="Sources">
        <setting id="sources_sep1" type="lsep" label="--- Torrent Sources ---"/>
        <setting id="enable_torrentio" type="bool" label="Enable Torrentio" default="true"/>
        <setting id="enable_yts" type="bool" label="Enable YTS (Movies)" default="true"/>
        <setting id="enable_eztv" type="bool" label="Enable EZTV (TV)" default="true"/>
        <setting id="enable_1337x" type="bool" label="Enable 1337x" default="true"/>
        <setting id="enable_piratebay" type="bool" label="Enable PirateBay" default="true"/>
        <setting id="sources_sep2" type="lsep" label="--- Direct Streams ---"/>
        <setting id="enable_vidsrc" type="bool" label="Enable VidSrc" default="true"/>
        <setting id="enable_streaming_sites" type="bool" label="Enable Streaming Sites" default="true"/>
    </category>
    <category label="General">
        <setting id="provider_region" type="labelenum" label="Streaming Provider Region" values="US|GB|CA|AU|DE|FR|ES|IT|JP|KR|BR|MX|IN" default="0"/>
        <setting id="tmdb_key" type="text" label="TMDB API Key (optional)" default=""/>
        <setting id="cache_enabled" type="bool" label="Enable Cache" default="true"/>
        <setting id="clear_cache" type="action" label="Clear Cache" action="RunPlugin(plugin://plugin.video.orion/?action=clear_cache)"/>
    </category>
</settings>
